<!DOCTYPE html>
<html lang="en" class="scroll-smooth">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Gladiatos UI</title>
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Teko:wght@300..700&display=swap"
		rel="stylesheet" />
	<link href="myproject/theme/static/css/dist/styles.css" rel="stylesheet" />
	<link rel="icon" type="image/png" href="myproject/theme/static/images/icon_web_gladiatos.svg">
	<style>
		.font-teko {
			font-family: "Teko", serif;
			font-optical-sizing: auto;
			font-weight: 400;
			font-style: normal;
		}

		.font-audiowide {
			font-family: "Audiowide", serif;
			font-weight: 400;
			font-style: normal;
		}

		.cursor-pointer {
			transition: top 0.3s ease;
		}

		.isactive {
			top: -40px !important;
		}

		.svg-red {
			filter: brightness(0) saturate(100%) invert(27%) sepia(97%) saturate(7493%) hue-rotate(357deg) brightness(104%) contrast(104%);
		}

		.hide {
			opacity: 0;
			transition: all 1s ease;
		}

		.show {
			opacity: 1;
		}
	</style>
	<script defer src="myproject/theme/static/js/script.js"></script>
	
</head>

<body class="bg-black flex flex-col justify-center w-full relative">
	<img class="absolute w-full h-full object-cover" src="myproject/theme/static/images/background.svg" alt="Group" />
	<nav id="navbar"
		class="fixed w-full h-[136px] top-0 left-0 flex justify-center transition-transform duration-100 z-20">
		<div class="relative w-full h-[134px]">
			<img class="absolute w-full top-0 left-0 object-cover" src="myproject/theme/static/images/Group 34.svg" alt="Group"
				style="min-width: 1440px; height: auto" />
			<img class="absolute w-[111px] h-[109px] top-0 left-9 object-cover" src="myproject/theme/static/images/Logo.svg"
				alt="Logo" />

			<div class="absolute top-[25px] right-[50px] text-[58.7px] font-teko">
				<div class="hidden xxl:flex space-x-16 text-[#e9311f]">
					<a href="#about" class="hover:text-black">About Us</a>
					<a href="#team" class="hover:text-black">Our Team</a>
					<a href="#projects" class="hover:text-black">Past Projects</a>
					<a href="#faq" class="hover:text-black">FAQ</a>
				</div>

				<button id="menu-button" class="block xxl:hidden z-20">
					<img src="myproject/theme/static/images/Menu.svg" alt="Close" />
				</button>
			</div>
		</div>
		<div id="dropdown-menu"
			class="hidden absolute top-0 left-0 w-[100vw] h-[70vh] z-50 bg-white flex-col justify-center items-center">
			<button id="exit-button" class="absolute top-[25px] right-[5%] z-20">
				<img src="myproject/theme/static/images/Cross.svg" alt="Close" />
			</button>
			<div class="absolute left-1/2 top-5 transform -translate-x-1/2 flex flex-col space-y-4 text-[#e9311f] 
					text-[40px] lg:text-[58.7px] 
					font-teko text-center">
				<a href="#about" class="hover:text-black inline-block">About Us</a>
				<a href="#team" class="hover:text-black inline-block">Our Team</a>
				<a href="#projects" class="hover:text-black inline-block">Past Projects</a>
				<a href="#faq" class="hover:text-black inline-block">FAQ</a>
			</div>
		</div>
	</nav>
	<section id="top" class="overflow-hidden w-full relative">
		<div class="hide mt-[206px] flex justify-center text-[#ef1500] 
			text-[48px] mm:text-[54px] sm:text-[68px] md:text-[96px] lg:text-[128px]
			text-center 
			ms:tracking-[-1px] md:tracking-[-6.4px] 
			font-audiowide">
			GLADIATOS
		</div>

		<p class="hide flex justify-center text-white 
			text-[20px] mm:text-[30px] sm:text-[48px] md:text-[50px] lg:text-[64px]
			text-center
			sm:tracking-[-1px] lg:tracking-[-3.62px] 
			leading-[30px] md:leading-[60px] lg:leading-[83.1px]
			font-audiowide">
			The Only Humanoid Robotic Team In Universitas Indonesia
		</p>

		<div class="hide mt-[14vh] flex justify-center">
			<p class="text-white 
				text-[20px] mm:text-[30px] sm:text-[48px] md:text-[50px] lg:text-[64px] 
				text-center 
				sm:tracking-[-1px] lg:tracking-[-3.62px] 
				leading-[40px] md:leading-[60px] lg:leading-[83.1px]
				font-audiowide">
				Meet Our Robots
			</p>
		</div>

		<div class="hide mt-[2vh] flex justify-center">
			<img src="myproject/theme/static/images/Group 38.svg" alt="Group" />
		</div>

		<div class="hide mt-[1vh] flex justify-center">
			<div class="relative w-[944px] h-[135px] top-[13px] left-[5px]">
				<div class="relative">
					<img class="flex" src="myproject/theme/static/images/Group 39.svg" alt="Group" />
					<div
						class="absolute inset-0 flex justify-center items-center text-[#e9311f] text-2xl ml:text-4xl md:text-6xl text-center font-audiowide">
						Darput
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- About Us Section -->
	<section id="about" class="w-full mt-[20vh] relative">
		<div class="hide flex flex-col items-center relative">
			<!-- First div (About Us header) -->
			<div class="w-full flex justify-center items-center relative">
				<img class="w-full absolute" alt="Group" src="myproject/theme/static/images/Group 33.svg" />
				<img class="w-[280px] lg:w-[480px] absolute" alt="Group" src="myproject/theme/static/images/Group 36.svg" />
				<div class="absolute font-audiowide font-normal text-black 
					text-[35px] lg:text-[64px] tracking-[0] leading-[normal]">
					About Us
				</div>
			</div>

			<div class="w-full flex flex-col md:flex-row justify-between mt-[20vh]">
				<div class="w-full md:w-1/2 flex justify-center md:justify-start px-4 md:pl-[4vw]">
					<img class="hide 
					w-[100%]" alt="Group" src="myproject/theme/static/images/Group 7.svg" />
				</div>

				<div
					class="w-full md:w-1/2 flex flex-col justify-center items-center md:items-start px-4 md:pr-[4vw] mt-8 md:mt-0">
					<div class="hide relative w-[100%]">
						<!-- Image as the background -->
						<img class="w-full" alt="Group" src="myproject/theme/static/images/Group 6.svg" />

						<!-- Text content positioned on top of the image -->
						<div class="absolute top-[25%] left-[7%] font-teko font-medium text-black
									text-[28px] mxl:text-[40px] md:text-[30px] xl:text-[40px] 
									tracking-[2.00px] leading-[normal]">
							Gladiatos UI
						</div>
						<div class="absolute top-[50%] left-[7%] pr-[15px]">
							<p class="font-teko text-black
									  text-[12px] mm:text-[14px] ml:text-[18px] mxl:text-[24px] md:text-[14px] lm:text-[20px] xl:text-[24px] 
									  tracking-[0.48px] leading-[normal]">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non
								justo mollis, vulputate turpis ac, mollis neque. Donec egestas aliquam
								tellus, in convallis augue imperdiet.
							</p>
						</div>
					</div>

					<!-- Second content block -->
					<div class="hide relative w-[100%] mt-[30px]">
						<img class="w-full" alt="Group" src="myproject/theme/static/images/Group 37.svg" />
						<div class="absolute top-[13%] left-[30%] font-teko font-medium text-black 
						text-[18px] ml:text-[24px] mxl:text-[30px] md:text-[22px] lm:text-[30px] xxl:text-[38px] 
							tracking-[1px] leading-[normal]">
							A Message from Our Leader
						</div>
						<div class="absolute top-[30%] left-[30%] pr-[15px]">
							<p class="font-teko text-black 
							text-[10px] mm:text-[13px] ml:text-[15px] mxl:text-[20px] md:text-[11px] lm:text-[16px] xl:text-[20px] 
							tracking-[0.48px] leading-[normal]">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non
								justo mollis, vulputate turpis ac, mollis neque. Donec egestas aliquam
								tellus, in convallis augue imperdiet et. Curabitur id euismod massa.
								Mauris condimentum lectus a pretium dapibus. Nunc vitae neque vitae
								sem commodo ultrices nec at eros.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Our Team Section -->
	<section id="team" class="w-full mt-[25vh] relative">
		<div class="flex flex-col justify-center items-center relative">
			<div class="relative">
				<img class="w-[280px] lg:w-full" alt="Group" src="myproject/theme/static/images/Group 13.svg" />
				<div class="absolute inset-0 flex justify-center items-center hide font-audiowide font-normal text-black 
					text-[35px] lg:text-[64px] 
					tracking-[0] leading-[normal]">
					Our Team
				</div>
			</div>

			<div class="w-full mt-[10vh] md:mt-[15vh] flex justify-center relative">
				<img class="w-[350px] md:w-[500px] lg:w-[526px] px-5" alt="Group"
					src="myproject/theme/static/images/Rectangle 24.svg" />
				<div class="absolute flex flex-wrap justify-center space-x-2 sm:space-x-3 md:space-x-4">
					<div class="relative top-[-10px] sm:top-[-15px] md:top-[-20px] cursor-pointer w-[70px] sm:w-[100px] md:w-[121px]"
						onclick="toggleImage(this)">
						<img class="absolute z-0 w-full" alt="Group" src="myproject/theme/static/images/Rectangle 20.svg" />
						<img class="absolute z-10 w-[50%] mt-[15%] left-[25%]" alt="Programming"
							src="myproject/theme/static/images/programming.svg" />
					</div>
					<div class="relative top-[-10px] sm:top-[-15px] md:top-[-20px] cursor-pointer w-[70px] sm:w-[100px] md:w-[121px]"
						onclick="toggleImage(this)">
						<img class="absolute z-0 w-full" alt="Group" src="myproject/theme/static/images/Rectangle 20.svg" />
						<img class="absolute z-10 w-[50%] mt-[15%] left-[25%]" alt="Electrical"
							src="myproject/theme/static/images/electrical.svg" />
					</div>
					<div class="relative top-[-10px] sm:top-[-15px] md:top-[-20px] cursor-pointer w-[70px] sm:w-[100px] md:w-[121px]"
						onclick="toggleImage(this)">
						<img class="absolute z-0 w-full" alt="Group" src="myproject/theme/static/images/Rectangle 20.svg" />
						<img class="absolute z-10 w-[50%] mt-[15%] left-[25%]" alt="Manager"
							src="myproject/theme/static/images/manager.svg" />
					</div>
					<div class="relative top-[-10px] sm:top-[-15px] md:top-[-20px] cursor-pointer w-[70px] sm:w-[100px] md:w-[121px]"
						onclick="toggleImage(this)">
						<img class="absolute z-0 w-full" alt="Group" src="myproject/theme/static/images/Rectangle 20.svg" />
						<img class="absolute z-10 w-[50%] mt-[15%] left-[25%]" alt="Gears"
							src="myproject/theme/static/images/gears.svg" />
					</div>
				</div>
			</div>

			<!-- taro snippet dari syahmi -->
		</div>
	</section>

	<!-- Past Projects Section -->
	<section id="projects" class="w-full mt-[15vh] relative">
		<div class="hide flex justify-center items-center relative">
			<div class="relative flex justify-center">
				<img class="w-[380px] lg:w-full" alt="Group" src="myproject/theme/static/images/Group 13 copy.svg" />
				<div
					class="hide absolute top-[1%] font-audiowide font-normal text-black text-[30px] mm:text-[35px] lg:text-[64px] tracking-[0] leading-[normal]">
					Past&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Projects
				</div>
			</div>

			<!-- taro snippet dari syahmi -->
		</div>
	</section>

	<!-- FAQ Section -->
	<section id="faq" class="w-full mt-[15vh] relative">
		<div class="hide flex flex-col justify-center items-center relative">
			<div class="w-full relative">
				<img class="w-full" alt="Group" src="myproject/theme/static/images/Group 17.svg" />
				<div class="absolute left-[20%] inset-0 flex items-center font-audiowide font-normal text-black 
				text-[25px] mm:text-[35px] lg:text-[64px] 
					tracking-[0] leading-[normal]">
					FAQ
				</div>
			</div>
			<div class="relative w-[80%] ms:h-[20px] mm:h-[25px] ml:h-[30px] mxl:h-[40px] md:h-[50px] lg:h-[70px] xl:h-[100px] cursor-pointer mt-[4%] transition-all duration-500"
				onclick="rotateImage(this)">
				<div class="absolute left-[3%] top-[2px] mxl:top-[5px] md:top-[8px] lm:top-[10px] xl:top-[15px] z-10 
				text-[10px] mm:text-[14px] ml:text-[16px] mxl:text-[20px] md:text-[30px] lm:text-[35px] xl:text-[40px]
				text-black font-teko">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				</div>
				<!-- Gray Rectangle -->
				<div
					class="absolute left-[1.5%] mt-[1.5%] w-full h-full bg-[#bcbcbc] rounded-[1px] md:rounded-[2px] lg:rounded-[4px] xl:rounded-md">
				</div>
				<!-- Rectangle 22 -->
				<img class="absolute z-1" alt="Group" src="myproject/theme/static/images/Rectangle 22.svg" />
				<!-- Polygon 230 (z-2 image) -->
				<img class="polygon230 absolute z-2 right-[2.5%] mt-[1.5%] 
				h-[10px] mm:h-[15px] mxl:h-[20px] md:h-[30px] lg:h-[40px] xl:h-[50px]
				transition-transform duration-500" alt="Group" src="myproject/theme/static/images/Polygon 230.svg" />
			</div>
			<div class="relative w-[80%] ms:h-[20px] mm:h-[25px] ml:h-[30px] mxl:h-[40px] md:h-[50px] lg:h-[70px] xl:h-[100px] cursor-pointer mt-[4%] transition-all duration-500"
				onclick="rotateImage(this)">
				<div class="absolute left-[3%] top-[2px] mxl:top-[5px] md:top-[8px] lm:top-[10px] xl:top-[15px] z-10 
				text-[10px] mm:text-[14px] ml:text-[16px] mxl:text-[20px] md:text-[30px] lm:text-[35px] xl:text-[40px]
				text-black font-teko">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				</div>
				<!-- Gray Rectangle -->
				<div
					class="absolute left-[1.5%] mt-[1.5%] w-full h-full bg-[#bcbcbc] rounded-[1px] md:rounded-[2px] lg:rounded-[4px] xl:rounded-md">
				</div>
				<!-- Rectangle 22 -->
				<img class="absolute z-1" alt="Group" src="myproject/theme/static/images/Rectangle 22.svg" />
				<!-- Polygon 230 (z-2 image) -->
				<img class="polygon230 absolute z-2 right-[2.5%] mt-[1.5%] 
				h-[10px] mm:h-[15px] mxl:h-[20px] md:h-[30px] lg:h-[40px] xl:h-[50px]
				transition-transform duration-500" alt="Group" src="myproject/theme/static/images/Polygon 230.svg" />
			</div>
			<div class="relative w-[80%] ms:h-[20px] mm:h-[25px] ml:h-[30px] mxl:h-[40px] md:h-[50px] lg:h-[70px] xl:h-[100px] cursor-pointer mt-[4%] transition-all duration-500"
				onclick="rotateImage(this)">
				<div class="absolute left-[3%] top-[2px] mxl:top-[5px] md:top-[8px] lm:top-[10px] xl:top-[15px] z-10 
				text-[10px] mm:text-[14px] ml:text-[16px] mxl:text-[20px] md:text-[30px] lm:text-[35px] xl:text-[40px]
				text-black font-teko">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				</div>
				<!-- Gray Rectangle -->
				<div
					class="absolute left-[1.5%] mt-[1.5%] w-full h-full bg-[#bcbcbc] rounded-[1px] md:rounded-[2px] lg:rounded-[4px] xl:rounded-md">
				</div>
				<!-- Rectangle 22 -->
				<img class="absolute z-1" alt="Group" src="myproject/theme/static/images/Rectangle 22.svg" />
				<!-- Polygon 230 (z-2 image) -->
				<img class="polygon230 absolute z-2 right-[2.5%] mt-[1.5%] 
				h-[10px] mm:h-[15px] mxl:h-[20px] md:h-[30px] lg:h-[40px] xl:h-[50px]
				transition-transform duration-500" alt="Group" src="myproject/theme/static/images/Polygon 230.svg" />
			</div>
			<div class="relative w-[80%] ms:h-[20px] mm:h-[25px] ml:h-[30px] mxl:h-[40px] md:h-[50px] lg:h-[70px] xl:h-[100px] cursor-pointer mt-[4%] transition-all duration-500"
				onclick="rotateImage(this)">
				<div class="absolute left-[3%] top-[2px] mxl:top-[5px] md:top-[8px] lm:top-[10px] xl:top-[15px] z-10 
				text-[10px] mm:text-[14px] ml:text-[16px] mxl:text-[20px] md:text-[30px] lm:text-[35px] xl:text-[40px]
				text-black font-teko">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				</div>
				<!-- Gray Rectangle -->
				<div
					class="absolute left-[1.5%] mt-[1.5%] w-full h-full bg-[#bcbcbc] rounded-[1px] md:rounded-[2px] lg:rounded-[4px] xl:rounded-md">
				</div>
				<!-- Rectangle 22 -->
				<img class="absolute z-1" alt="Group" src="myproject/theme/static/images/Rectangle 22.svg" />
				<!-- Polygon 230 (z-2 image) -->
				<img class="polygon230 absolute z-2 right-[2.5%] mt-[1.5%] 
				h-[10px] mm:h-[15px] mxl:h-[20px] md:h-[30px] lg:h-[40px] xl:h-[50px]
				transition-transform duration-500" alt="Group" src="myproject/theme/static/images/Polygon 230.svg" />
			</div>
		</div>
	</section>

	<!-- Footer Section -->
	<footer class="w-full relative mt-[15vh]">
		<img class="w-full" alt="Group" src="myproject/theme/static/images/Group 24.svg" />
		<div class="absolute inset-0 flex justify-between items-center mt-[3%] px-[2%]">
			<img class="w-[7%] h-auto" src="myproject/theme/static/images/Logo.svg" alt="Logo" />
			<div class="flex gap-[15%] lg:gap-[20%] items-center justify-end">
				<a href="https://www.instagram.com" target="_blank" class="block w-[8%] md:w-[15%] lm:w-[20%]">
					<img class="w-full h-auto" src="myproject/theme/static/images/instagram.svg" alt="Instagram" />
				</a>
				<a href="tel:08558866900" class="block w-[8%] md:w-[15%] lm:w-[20%]">
					<img class="w-full h-auto" src="myproject/theme/static/images/phone.svg" alt="Phone" />
				</a>
				<a href="https://www.linkedin.com" target="_blank" class="block w-[8%] md:w-[15%] lm:w-[20%]">
					<img class="w-full h-auto" src="myproject/theme/static/images/linkedin.svg" alt="LinkedIn" />
				</a>
				<a href="https://line.me" target="_blank" class="block w-[8%] md:w-[15%] lm:w-[20%]">
					<img class="w-full h-auto" src="myproject/theme/static/images/line.svg" alt="LINE" />
				</a>
			</div>
		</div>
	</footer>
</body>

</html>