@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Teko:wght@300..700&display=swap');
@import "tailwindcss";

@theme {
  --font-teko: 'Teko', sans-serif;
  --font-audiowide: 'Audiowide', sans-serif;
}

.hide {
  opacity: 0;
  transform: translateY(100px);
  transition: all 1s;
}

.show {
  opacity: 1;
  transform: translateY(0);
}

/* Custom styles for team section */
.isactive .svg-red {
  filter: invert(21%) sepia(99%) saturate(7414%) hue-rotate(359deg) brightness(97%) contrast(96%);
}

/* Custom styles for FAQ section */
.polygon230 {
  transition: transform 0.3s ease;
}

.rotate-90 {
  transform: rotate(90deg);
}