{% load static %} 
{% with nav1_image="myapp/images/nav1.png" nav2_image="myapp/images/nav2.png" bg_image="myapp/images/bg.png" %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gladiatos UI</title>
    <link rel="stylesheet" href="{% static 'myapp/css/output.css' %}" />
    <script src="{% static 'myapp/js/script.js' %}" defer></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      @font-face {
        font-family: "TheRiftShop";
        src: url("{% static 'myapp/fonts/TheRiftShop.otf' %}")
          format("opentype");
      }

      @font-face {
        font-family: "Moonstrike";
        src: url("{% static 'myapp/fonts/Moonstrike.ttf' %}") format("truetype");
      }

      .rift-font {
        font-family: "TheRiftShop", sans-serif;
      }
      .moon-font {
        font-family: "Moonstrike", sans-serif;
      }
    </style>
  </head>
  <body class="bg-black rift-font">
    <!-- Second Image (Behind) -->
    <div
      class="absolute inset-x-0 top-[34px] left-[79px] z-0 flex justify-center"
    >
      <img src="{% static nav2_image %}" alt="Nav2" class="w-full h-auto" />
    </div>

    <!-- Navbar (On Top) -->
    <nav class="relative w-full flex justify-center z-10">
      <img src="{% static nav1_image %}" alt="Nav1" class="w-full h-auto" />

      <div class="absolute inset-x-0">
        <!-- Logo (Fixed 36px from the left) -->
        <a href="#" class="absolute left-[36px] top-[-2px]">
          <img
            src="{% static 'myapp/images/logo.png' %}"
            alt="Logo"
            class="w-[112px] h-[112px]"
          />
        </a>

        <!-- Navigation Links (Centered, Fixed Width) -->
        <div
          class="absolute left-[591px] top-[25px] flex justify-between w-[850px]"
        >
          <a href="#home" class="text-red-600 hover:text-gray-300 text-6xl"
            >Home</a
          >
          <a href="#gettoknow" class="text-red-600 hover:text-gray-300 text-6xl"
            >Get to Know</a
          >
          <a href="#team" class="text-red-600 hover:text-gray-300 text-6xl"
            >Team</a
          >
          <a href="#faq" class="text-red-600 hover:text-gray-300 text-6xl"
            >FAQ</a
          >
        </div>
      </div>
    </nav>
    <div
      class="flex justify-center h-screen bg-center bg-contain bg-no-repeat"
      style="background-image: url('{% static bg_image %}')"
    >
      <div class="w-[900px] text-white text-6xl text-center moon-font">
        The Only Humanoid Robotic Team In Universitas Indonesia
      </div>
    </div>
  </body>
</html>

{% endwith %}
